<div class="container">
    <h1>Programming Profiles</h1>

    <ul class="coding-profile">
        <li>
            <a href="https://www.github.com/novelkhan" target="_blank">
                <i class='bx bxl-github'></i>
            </a>
        </li>
        <li>
            <a href="https://drive.google.com/file/d/1JLaNL5p8Edo2ixcoeXrdVHT10LbDCzFC/view" target="_blank">
                <i class='bx bx-book-open'></i>
            </a>
        </li>
        <li>
            <a href="https://uhunt.onlinejudge.org/id/882880" target="_blank">
                <i class='bx bx-list-ol'></i>
            </a>
        </li>
    </ul>
</div>

<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li>
            <a href="https://www.linkedin.com/in/novelkhan" target="_blank">
                <i class='bx bxl-linkedin'></i>
            </a>
        </li>
        <li>
            <a href="mailto:novel4004@gmail.com?subject=Subject%20Here&body=Body%20text%20here">
                <i class='bx bxl-gmail'></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/novel32" target="_blank">
                <i class='bx bxl-facebook-circle'></i>
            </a>
        </li>
    </ul>

    <ul class="contact-info">
        <li>Mobile: 01633118253</li>
        <li>novel4004&#64;gmail.com</li>
    </ul>
</div>